<div class="container">
  <h1>Welcome to Jersman's Shortened Urls!</h1>
  <p>Here is your shortened url: <%= @generated_url %></p>
  <p>This will take here: <%= @original_url %></p>
  
  <form action="/" method="get">
      <input type="submit" value="Home">
  </form>

</div>