<div class="container">
  <h1>Welcome to Jersman's Url Shortener!</h1>
  <p>Enter a url and we'll shorten it:</p>

  <% if @errors %>
    <p> <%= @errors %>  </p>
  <% end %>

  <form action="/urls" method="post">
      <input type="text" name="long">
      <input type="submit" value="Submit">
  </form>

</div>
